body {
    margin: 0;
    background: #1C1C1C;
    font-family: "Karla", sans-serif;
}
 
.container {
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: 5px 10px 8px #273549;
    display: flex;
    margin: 80px auto;
    padding: 30px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4ADF86;
    transition: 0.4s;
    border-radius: 34px;
 }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #273549;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}

h1 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: -20px;
}

.generate-button {
    background-color: #10B981;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-top: 50px;
}

hr {
    border: none;
    height: 1px; /* dikte van de lijn */
    margin: 40px 0; /* afstand boven en onder de lijn */
}

.password-field1 {
    background-color: #273549;
    color: #55F991;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 8px 5px;
    border: none;
    margin-right: 15px;
}

.password-field2 {
    background-color: #273549;
    color: #55F991;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 8px 5px;
    border: none;
}

/* Text color in normal mode */
.container {
    background: #ECFDF5;
}

.h1-word1 {
    color: #2B283A;
}
  
.h1-word2 {
    color: #10B981;
}

.p-text {
    color: #6B7280;
}

.custom-line {
background-color: #D5D4D8; /* kleur van de lijn */
}

/* Text color in dark mode */
  
.dark-mode .container {
    background: #1F2937;
}

.dark-mode .h1-word1 {
    color: white;
}
  
.dark-mode .h1-word2 {
    color: #4ADF86;
}

.dark-mode .p-text {
    color: #D5D4D8;
}    

.dark-mode .custom-line {
    background-color: #2F3E53;
}